*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(0,0,0,0.8); */
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 5;
}


.navigation_container{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 3;
}

.collection{
    width: 100%;
    list-style-type: none;
    font-family: sans-serif;
    color: #fff;
    height: 50px;
    justify-content: space-between;
    display: flex;
    z-index: 2;
    align-items: center;
}
.collection i{
    font-size: 17px;
}

.header_logo{
    margin: 0px 20px;
    color: #fff;
    font-size: 25px;
}

.header_control{
    display: none;
}

.header_shop{
    display: none;
}
/* 
.container{
    width: 100%;
    height: 500px;
    display: flex;
}
.right{
    width: 50%;
    height: 500px;
    background-color: red;
}

.left{
    width: 50%;
    height: 500px;
    background-color: aqua;
} */
.iphone_13pro{
    width: 100%;
    height: 100vh;
    background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.ul_collection{
    width: 150px;
    background-color: red;
    /* z-index: 4; */
}

.collection_items{
    align-items: center;
    display: flex;
    position: absolute;
    top: 300px;
    z-index: 2;
    left: 40%;
}
.collection_items li{
    margin: 0px 40px;
    font-size: 17px;
    z-index: 2;
    list-style-type: none;
    font-family: -apple-system, Blink System, sans-serif;
}
.collection_items li a{
    text-decoration: none;
    z-index: 2;
    color: #2997FF;
    display: block;
}
.iphone_13pro h1{
    position: absolute;
    top: 125px;
    left: 38.5%;
    z-index: 2;
    font-size: 57px;
    color: #181818;
    font-family: -apple-system, Blink System, sans-serif;
}
.iphone13_prop{
    position: absolute;
    top: 190px;
    left: 45%;
    z-index: 2;
    font-size: 34px;
    font-weight: 400;
    color: #181818;
    font-family: -apple-system, Blink System, sans-serif;
}

.iphone_13prop{
    position: absolute;
    top: 240px;
    left: 44.5%;
    z-index: 2;
    font-size: 20px;
    color: #a3a3a3;
    font-family: -apple-system, Blink System, sans-serif;
}
.container_13{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}



/* !!!! */

/* start iphone 13 */

/* !!!! */

.iphone_13{
    width: 100%;
    height: 85vh;
    z-index: 3;
    position: absolute;
    top: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_largetall.jpg');
}

.iphone_13 h1{
    position: absolute;
    top: 65px;
    left: 42%;
    z-index: 2;
    font-size: 57px;
    color: #f7f7f7;
    font-family: -apple-system, Blink System, sans-serif;
}
.superpower{
    position: absolute;
    top: 130px;
    left: 40%;
    z-index: 2;
    font-size: 34px;
    font-weight: 400;
    color: #FEC2EB;
    font-family: -apple-system, Blink System, sans-serif;
}
.learnmore{
    position: absolute;
    top: 180px;
    left: 44.5%;
    z-index: 2;
    font-size: 20px;
    color: #a3a3a3;
    font-family: -apple-system, Blink System, sans-serif;
}
.collection_itemS{
    align-items: center;
    display: flex;
    position: absolute;
    top: 220px;
    z-index: 2;
    left: 40%;
}
.collection_itemS li{
    margin: 0px 40px;
    font-size: 17px;
    z-index: 2;
    list-style-type: none;
    font-family: -apple-system, Blink System, sans-serif;
}
.collection_itemS li a{
    text-decoration: none;
    z-index: 2;   
    color: #2997FF;
    /* display: block; */
}

.items_container{
    width: 60%;
    height: auto;
}
::-webkit-scrollbar{
    display: none;
}



/* !!!!! */
/* start APPLE WATCH!!!!! */
/* !!!!!!! */

.watch{
    top: 100px;
    width: 100%;
    height: 85vh;
    background-image: url('https://www.apple.com/v/watch/an/images/overview/series-7/hero_s7__ep2maoos292e_small.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.watch img{
    width: 200px;
    height: 65px;
    position: absolute;
    bottom: 96.345543vh;
    left: 45%;
}

.watch h1{
    position: absolute;
    bottom: 88vh;
    left: 37%;
    font-weight: 600;
    z-index: 2;
    font-size: 54px;
    color: #181818;
    font-family: -apple-system, Blink System, sans-serif;
}

.apple_watch{
    position: absolute;
    top: -15px;
    left: 44.8%;
    z-index: 2;
    font-size: 24px;
    color: #a3a3a3;
    font-family: -apple-system, Blink System, sans-serif;
}
.collection_item1{
    align-items: center;
    display: flex;
    position: absolute;
    top: 25px;
    z-index: 2;
    left: 20%;
    width: 30%;
    background-color: red;
}

.collection_item1 li{
    margin: 0px 30px;
    font-size: 17px;
    z-index: 2;
    list-style-type: none;
    font-family: -apple-system, Blink System, sans-serif;
}
.collection_item1 li a{
    text-decoration: none;
    z-index: 2;   
    color: #2997FF;
    /* display: block; */
}
.watch_items{
    margin: auto;
    width: 90%;
    height: auto;
}

.footer{
    position: relative;
    top: 50px;
    left: 0;
    width: 120%;
    height: auto;
    background-color: #181818;
   
}

.footer_container{
    width: 90%;
    margin: auto;
    height: auto;
    background-color: #ac7373;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

.ul_div{
    width: 100%;
    padding: 20px;
}
.collections{
    width: 99%;
    list-style-type: none;
    color: #a3a3a3;
    line-height: 40px;
     margin: 10px 0px;
}


@media only screen and (max-width: 1400px)
{
    .footer_container{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(5, 300px);
        grid-template-rows: 1fr;
        grid-gap: 30px;
    }
    .ul_div{
        padding: 20px;
        width: 120px;
    }
    .collections{
        font-size: 14px;
    }
}
@media only screen and (max-width: 880px)
{
    .watch img{
        width: 170px;
        height: 50px;
        position: absolute;
        bottom: 96.345543vh;
        left: 45%;
    }
    .watch h1{
        font-size: 45px;
        position: absolute;
        bottom: 88vh;
        left: 32.5%;
    } 
    .apple_watch{
        font-size: 18px;
        position: absolute;
        top: -18px;
        left: 47%;
    }
    .collection_item1{
        font-size: 14px;
        margin-top: -20px;
        margin-left: -54px;
    }
   
}


@media only screen and (max-width: 700px)
{

    .watch{
        background-image: url('https://www.apple.com/v/watch/an/images/overview/series-7/hero_s7__ep2maoos292e_small.jpg');
        /* background-position: center; */
        background-size: cover;
    }
    .watch img{
        width: 150px;
        height: 40px;
        position: absolute;
        bottom: 96.345543vh;
        left: 45%;
    }
    .watch h1{
        font-size: 35px;
        position: absolute;
        bottom: 90vh;
        left: 32.5%;
    } 
    .apple_watch{
        font-size: 16px;
        position: absolute;
        top: -30px;
        left: 45%;
    }
    .collection_item1 li{
        margin: 0px 20px;
    }
     .collection_item1{
        font-size: 10px;
        margin-top: -30px;
        margin-left: -54px;
    }
   
}

@media only screen and (max-width: 550px)
{

    .watch{
        background-image: url('https://www.apple.com/v/watch/an/images/overview/series-7/hero_s7__ep2maoos292e_small_2x.jpg');
        background-size: cover;
    }
    .watch img{
        width: 150px;
        height: 40px;
        position: absolute;
        bottom: 96.345543vh;
        left: 45%;
    }
    .watch_items{
        margin: auto;
        width: 80%;

    }
    .watch h1{
        font-size: 33px;
        position: absolute;
        bottom: 90vh;
        left: 32.5%;
    } 
    .apple_watch{
        font-size: 16px;
        position: absolute;
        top: -30px;
        left: 45%;
    }
    .collection_item1 li{
        margin: 0px 20px;
    }
     .collection_item1{
        font-size: 10px;
        margin-top: -30px;
        margin-left: -54px;
    }
   
}






@media only screen and (max-width: 440px)
{

    .watch{
        background-image: url('https://www.apple.com/v/watch/an/images/overview/series-7/hero_s7__ep2maoos292e_small.jpg');
        /* background-position: center; */
        background-size: cover;
    }
    .watch img{
        width: 130px;
        height: 30px;
        position: absolute;
        bottom: 96.345543vh;
        left: 45%;
    }
    .watch h1{
        width: 100%;
        font-size: 26.2587px;
        position: absolute;
        bottom: 90vh;
        left: 32.5%;
    } 
    .apple_watch{
        font-size: 16px;
        position: absolute;
        top: -30px;
        left: 42%;
    }
    .collection_item1 li{
        font-size: 13px;
        margin: 0px 10px;
    }
     .collection_item1{
         width: 100%;
        margin-top: -30px;
        margin-left: -22px;
    }
   
}

@media only screen and (max-width: 700px)
{
    .iphone_13 h1{
        font-size: 43px;
        position: absolute;
        top: 60px;
        left: 40%;
    } 
    .learnmore{
        font-size: 16px;
        position: absolute;
        top: 150px;
        left: 42.8%;
    }

    .superpower{
        left: 41%;
        font-size: 20px;
        position: absolute;
        top: 120px;
    }
    .iphone_13{
        background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_medium_2x.jpg');
        width: 100%;
    }
     .collection_itemS{
        font-size: 14px;
        margin-top: -40px;
        margin-left: -54px;
    }
   
}


@media only screen and (max-width: 630px)
{
    .items_container{
        position: absolute;
        top: 155px;
        margin: auto;
        /* width: 100%; */
    }
    .items_container h1{
        width: 100%;
        font-size: 30px;
        position: absolute;
        top: 10px;
        left: 40%;
    } 
    .learnmore{
        width: 100%;
        font-size: 13px;
        position: absolute;
        top: 150px;
        left: 42.8%;
    }

    .superpower{
        width: 100%;
        left: 41%;
        font-size: 7px;
        position: absolute;
        top: 120px;
    }
    .iphone_13{
        background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg');
        width: 100%;
    }
    .collection_itemS{
        font-size: 9px;
        width: 600px;
        display: flex;
    }
    .collection_itemS li a{
        margin-top: 10px;
        margin-left: -10px;
    }
   
}

@media only screen and (max-width: 880px)
{
    .iphone_13 h1{
        font-size: 45px;
        position: absolute;
        top: 60px;
        left: 40%;
    } 
    .learnmore{
        font-size: 16px;
        position: absolute;
        top: 150px;
        left: 42.8%;
    }

    .superpower{
        left: 41%;
        font-size: 20px;
        position: absolute;
        top: 120px;
    }

     .collection_itemS{
        font-size: 14px;
        margin-top: -40px;
        margin-left: -54px;
    }
   
}

@media only screen and (max-width: 880px)
{
    .iphone_13pro h1{
        font-size: 45px;
        position: absolute;
        top: 80px;
        left: 34.5%;
    } 
    .iphone_13prop{
        font-size: 16px;
        position: absolute;
        top: 180px;
        left: 42.8%;
    }

    .iphone13_prop{
        font-size: 24px;
        position: absolute;
        top: 140px;
    }
    .iphone_13pro{
        background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg');
        width: 100%;
    }

     .collection_items li a{
        font-size: 14px;
        margin-top: -90px;
        margin-left: -40px;
        /* position: absolute; */
    }
   
}

@media only screen and (max-width: 680px)
{
    .iphone_13pro h1{
        font-size: 45px;
        position: absolute;
        top: 80px;
        left: 34.5%;
    } 
    .iphone_13prop{
        font-size: 16px;
        position: absolute;
        top: 180px;
        left: 42.8%;
    }

    .iphone13_prop{
        font-size: 24px;
        position: absolute;
        top: 140px;
    }
    
    .iphone_13pro{
        background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg');
        width: 100%;
    }

     .collection_items li a{
        font-size: 14px;
        margin-top: -90px;
        margin-left: -40px;
        /* position: absolute; */
    }
   
}

@media only screen and (max-width: 500px)
{
    .iphone_13pro h1{
        font-size: 30px;
        position: absolute;
        top: 80px;
        left: 34.5%;
    } 
    .iphone_13prop{
        font-size: 12px;
        position: absolute;
        top: 150px;
        left: 42.8%;
    }

    .iphone13_prop{
        font-size: 20px;
        position: absolute;
        top: 120px;
    }
    
    .iphone_13pro{
        background-image: url('https://www.apple.com/v/home/ae/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small.jpg');
        width: 100%;
    }

     .collection_items li a{
        font-size: 12px;
        margin-top: -120px;
        margin-left: -50px;
    }
   
}

/* @media only screen and (max-width: 500px){

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .container{
        flex-direction: column;
    }
} */



@media only  screen and (max-width: 750px) 
{
    
    .collection{
        display: none;
    }

    .header_control{
        display: block;
    }

    .header_shop{
        display: block;
    }

}
